#keyboard {
    margin-top: 50px;
    display: block;
    border: 1px solid black;
    padding: 5px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#keyboard::after {
    content: "";
    display: block;
    clear: both;
}

.key {
    width: 48px;
    height: 48px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 25px;
    display: flex;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 3px;
    float: left;
}

.clearfix {
    display: block;
    width: 100%;
    clear: both;
}

.active {
    background-color: aqua;
    animation-name: wave;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    background-size: 200% auto;
    background-position: center center;
  }
  
  @keyframes wave {
    0% {
      background-position: center center;
      transform: scale(1);
    }
    50% {
      background-position: 100% center;
      transform: scale(1.5);
    }
    100% {
      background-position: center center;
      transform: scale(1);
    }
  }

.container {
    width: 840px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

textarea {
    width: 100%;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 0 auto;
    padding: 5px;
    outline: navy;
}